.timer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    justify-content: center;
}

.timer-container {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    justify-content: center;
    border: 1px solid rgb(245, 195, 245);
    padding: 20px;
    border-radius: 8px;
    background-color: rgb(245, 227, 245);
    color: rgb(78, 56, 78);
    width: 350px;

}

.timerInputContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.timerButton {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    color: aliceblue;
    cursor: pointer;
    transition: all 0.35s;
}

.timerButton:hover {
    border-color: plum;
    background-color: rgb(159, 109, 159);
}

.timerButton:focus,
.timerButton:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.timerButton:disabled {
    border-color: #555555;
    background-color: #5c5c5e;
    cursor: not-allowed;
}

.timerInput {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: #1a1a1a solid 1px;
    cursor: pointer;
    transition: all 0.35s;
    width: 200px;
}

.timerInput:hover {
    border-color: #646cff;
}

.timerInput:focus,
.timerInput:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}